*{
    margin:0px;
    padding:0px;
}
nav{
    width:100vw;
    display :flex;
    background-color:lavender;
    justify-content:space-between;
    box-sizing:border-box;
    align-items:center;
}
nav img{
    width:200px;
    margin-left:15px;
}

#navhd>ul>li{
    display:flex;
    padding:7px;
    align-items:cemter;
}
#navhd a{
    display:flex;
    text-decoration:none;
}
#navhd>ul{
    display:flex;
    width:500px;
    font-size:20px;
    list-style-type:none;
    text-decoration:none;
}
#navhd button{
    padding:5px;
    border-radius:20px;
    font-size:20px;
    font-weight:900;
    background-color:#184655;
    border:none;
    box-shadow:0px 5px 5px gray;
    color:white;
    width:200px;
    margin-left:5px;
}
#navhd img{
    width:35px;
    padding-inline: 10px;
}
#input-div{
    border-radius: 20px;
    background: #fff;
    overflow:hidden;
    display: flex;
    width: 540px;
    margin:20px 0px;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #e9e3e6, #d9e4e9);
    margin: 30px;
    height: 742px;
    flex-wrap: wrap;
}

.hero-text>h1 {
    color: #184655;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 60px;
}

.tags {
    width: 330px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    color: #53748C;
    font-size: 21px;
    font-weight: 400;
}

.input-div {
    border-radius: 19px;
    background: #fff;
    overflow: hidden;
    display: flex;
    width: 546px;
    margin: 20px 0px;
}

#hero-input {
    flex: 2;
    padding: 10px 30px;
    border: none;
    color: #727272;
    font-size: 22px;
    font-weight: 400;
    line-height: 118%;
    /* 25.96px */
    outline: none;
}

#hero-btn {
    flex: 1;
    border-radius: 0px 19px 19px 0px;
    background: #184655;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 118%;
    /* 25.96px */
    border: none;
    padding: 25px 10px;
    cursor: pointer;
}

.main-card {
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.10);
    align-items: center;
    background-image: linear-gradient(to bottom, white, #d9e4e9)
}

.main-card-image>img {
    width: 40vw;
    height: 90%;
    border-radius: 15px;
    margin-right: 20px;
}

.main-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.main-card-text>h1 {
    color: #404040;
    font-size: 42px;
    font-weight: 500;
}

.main-row-1 {
    display: flex;
    justify-content: space-between;
    color: rgba(111, 110, 110, 0.84);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
}

.main-card-description {
    color: #464343;
    font-size: 28px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    overflow: hidden;
    margin: 15px;
    width: 431.532px;
    border-radius: 20px;
    background: linear-gradient(146deg, rgba(249, 247, 247, 0.1)0%, rgba(249, 247, 247, 0.4)100%);
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}

.card-image>img {
    width: 431.532px;
    height: 272.614px;
    border-radius: 20px;
}

.card-texts {
    padding: 20px;
}

.card-heading {
    color: #4A4848;
    font-size: 25px;
    font-weight: 500;
}

.card-row-1 {
    display: flex;
    justify-content: space-between;
    color: rgba(111, 110, 110, 0.84);
    font-size: 18px;
    font-weight: 500;
}

#card-description {
    color: #464343;
    text-align: justify;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
}

.read-more {
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    width: 100%;
}

.read-more>a {
    color: #213949;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    margin: 30px;
    height: 707px;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(136deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1)100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
}
.f-text1{
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}
.f-text2{
    color: #000;
    font-size: 57px;
    font-weight: 500;
    text-align: center;
}
.f-text3{
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}
.footer-btn{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    border-radius: 23.5px;
    background: linear-gradient(122deg, #2C56AA 0%, #3BB08B 100%);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px 20px;
    margin-top: 70px;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width:1100px) {
    .main-card{
        flex-direction: column;
    }
    .main-card-image>img{
        width: 100%;
    }
    .f-col2{
        width: 100%;
    }
    .f-col2>img{
        width: 90%;
    }
    .f-col1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-text{
        flex-direction: column;
        align-items: center;
    }
    .input-div{
        width: 80vw;
    }
    
}
@media screen and (max-width:840px) {
    .mobile-menu{
        display: block;
        font-size: 40px;
        margin-inline: 20px;
    }
    .nav-btn{
        display: none;
    }
    .get-a-quote{
        font-size: 15px;
    }
}
